name: Deploy to GitHub Pages

on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      
      - name: Install dependencies
        run: flutter pub get

      - name: Create dummy .env
        run: touch .env
      
      - name: Build Web
        env:
          CALENDARIFIC_API_KEY: ${{ secrets.CALENDARIFIC_API_KEY }}
          FESTIVO_API_KEY: ${{ secrets.FESTIVO_API_KEY }}
          GOOGLE_CALENDAR_API_KEY: ${{ secrets.GOOGLE_CALENDAR_API_KEY }}
        run: |
          flutter build web \
            --release \
            --base-href "/Whereabouts/" \
            --dart-define=CALENDARIFIC_API_KEY=$CALENDARIFIC_API_KEY \
            --dart-define=FESTIVO_API_KEY=$FESTIVO_API_KEY \
            --dart-define=GOOGLE_CALENDAR_API_KEY=$GOOGLE_CALENDAR_API_KEY
      
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './build/web'

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
